:root {
    --off-white: #f0efeb;
    --olive: #a5a58d;
    --dark-gray: #323232;
    --dark-salmon: #cb997e;
}

html, body {
    margin: 0;
    background-color: var(--off-white);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    color: var(--dark-gray);
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}


#landing {
    /* background: url("./assets/flash-img-v3.png"); */
    height: 100vh;
    width: 100vw;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
}


#landing #left {
    flex: 1;
}

#landing #left #name {
    background-color: var(--olive);
    color: var(--off-white);
    font-family: 'Oswald', sans-serif;
    font-size: 50pt;
    padding: 5px 10px;
}

#landing #intro-group {
    position: relative;
    margin-right: -30%;
    margin-top: 40%;
}

#landing #intro-group #info {
    position: absolute;
    right: 0;
}

#landing #intro-group #info p {
    margin: 20px 0;
}

#landing #right {
    flex: 3;
    background: url("./assets/flash-100.png");
    background-size: cover;
    background-position-x: center;
}

@media only screen and (max-width: 1240px) {
    #landing {
        flex-direction: column;
    }
    #landing #left {
        flex: 1;
        padding: 10%;
        background: url("./assets/flash-100.png") rgba(240, 239, 235, 0.5);
        background-blend-mode: overlay;
        /* background-size: cover; */
        background-position: 70% 30%;

    }

    #landing #intro-group {
        margin: auto;
    }
    #landing #right {
        display: none;
        /* flex: 2; */
    }
    #landing #intro-group #info {
        position: relative;
    }
}

@media only screen and (max-width: 1000px) {
    #landing #left {
        flex: 1;
        padding: 10%;
        background: url("./assets/flash-vert.png") rgba(240, 239, 235, 0.5);
        background-blend-mode: overlay;
        /* background-size: cover; */
        background-position: 70% 30%;
    }
}


#nav {
    font-size: 26px;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
}

#nav span {
    border-bottom: 4px solid rgba(203, 153, 126, 0);
    transition: 0.3s;
}

#nav span:hover {
    border-bottom: 4px solid rgba(203, 153, 126, 1);
}

#nav a {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-gray);
}

#nav a:visited {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-gray);
}

/* ABOUT */
.content {
    padding: 3%;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 3%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
}

.col1 {
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    font-size: 26px;
}

.col2 {
    flex: 3;
    margin-left: 3%;
}