:root {
    --off-white: #f0efeb;
    --olive: #a5a58d;
    --dark-gray: #323232;
    --dark-salmon: #cb997e;
}

html, body {
    margin: 0;
    background-color: var(--off-white);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25rem;
    color: var(--dark-gray);
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    border-top: 0.5px dotted var(--olive);
}


#landing {
    /* background: url("./assets/flash-img-v3.png"); */
    height: 100vh;
    width: 100vw;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
}


#landing #left {
    flex: 1;
}

.title {
    background-color: var(--olive);
    color: var(--off-white);
    font-family: 'Oswald', sans-serif;
    font-size: 50pt;
    padding: 5px 10px;
}

#landing #intro-group {
    position: relative;
    margin-right: -60%;
    margin-top: 40%;
}

#landing #intro-group #info {
    position: absolute;
    right: 0;
}

#landing #intro-group #info p {
    margin: 20px 0;
}

#landing #right {
    flex: 3;
    background: url("./assets/flash-100.png");
    background-size: cover;
    background-position-x: center;
}

@media only screen and (max-width: 1240px) {
    #landing {
        flex-direction: column;
    }
    #landing #left {
        flex: 1;
        padding: 10%;
        background: url("./assets/flash-100.png") rgba(240, 239, 235, 0.5);
        background-blend-mode: overlay;
        /* background-size: cover; */
        background-position: 70% 30%;
    }

    .title {
        font-size: 60pt;
    }

    #landing #intro-group {
        margin: auto;
    }
    #landing #right {
        display: none;
        /* flex: 2; */
    }
    #landing #intro-group #info {
        position: relative;
        font-size: 18pt;
    }
}

@media only screen and (max-width: 1000px) {
    #landing #left {
        flex: 1;
        padding: 10%;
        background: url("./assets/flash-vert.png") rgba(240, 239, 235, 0.5);
        background-blend-mode: overlay;
        /* background-size: cover; */
        background-position: 70% 30%;
    }
}


#nav {
    font-size: 26px;
    /* padding-top: 20px; */
    display: flex;
    flex-direction: column;
}

#nav span {
    border-bottom: 4px solid rgba(203, 153, 126, 0);
    transition: 0.3s;
}

#nav span:hover {
    border-bottom: 4px solid rgba(203, 153, 126, 1);
}

#nav a {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-gray);
}

#nav a:visited {
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-gray);
}

.item-overlay.right {
    right: 200%;
    left: -100%;
}
.item:hover .item-overlay.right {
    right: 0;
    left: 0;
}
.item-overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: var(--olive);
    color: #fff;
    overflow: hidden;
    text-align: center;
    /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
    width: 100%; 
    
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  }

/* ABOUT */
.item {
    margin: 0 2% 0 0;
}
.hamburger-and-title {
    display: flex;
}

.hamburger {
    margin: 0 2% 0 0;
}
.content {
    padding: 3%;
}

.title.sm {
    font-size: 38pt;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0;
}



.col1 {
    flex: 0.7;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

.col1 div {
    font-weight: 900;
}

.col2 {
    flex: 3;
    margin-left: 3%;
}

@media only screen and (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
    .col1 {
        justify-content: flex-start;
    }
}