:root {
    --antique-bronze: #6d6637;
    --moss-green: #958e4b;
    --misty-moss: #B4AC6A;
    --coffee: #6F4E37;
    --cafe-au-lait: #A67B5B;
    --burlywood: #DEB887;
    --antique-white: #FAEBD7;
}

body {
    background-color: var(--coffee);
}

h2 {
    margin-bottom: 1rem;
}

a {
    color: var(--moss-green);
}

a:hover,
a:focus {
    color: var(--misty-moss);
}

#banner {
    /* height: 500px; */
}

#banner img {
    width: 100%;
}

#float-banner {
    background-color: var(--burlywood);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    color: var(--coffee);
    width: 70%;
}

#title {
    color: var(--antique-white);
    display: flex;
    justify-content: center;
    padding: 2% 24%;
}

#title h1 {
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    text-align: center;
}

#container {
    padding: 0% 24% 2% 24%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1000px) {

    body,
    .btn {
        font-size: 2rem;
    }

    h1 {
        font-size: xxx-large;
    }

    #container {
        padding: 0% 5% 2% 5%;
    }

    #title {
        padding: 2% 5%;
    }
}

#content {
    background-color: var(--antique-white);
    width: 100%;
    padding: 3% 5%;
    border-radius: 2px;
    color: var(--coffee);
}

.nav-tabs {
    border-bottom: 1px solid var(--misty-moss);
    margin: 20px 0;
    transition: 0.3s;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: var(--misty-moss);
    color: var(--antique-white);
    border: 1px solid var(--misty-moss);
    border-bottom: 1px solid var(--misty-moss);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: 1px solid var(--misty-moss);
    border-bottom: 1px solid var(--misty-moss);
    cursor: pointer;
}

.question {
    /* color: var(--antique-bronze); */
    margin-bottom: 20px;
    display: none;

}

.question.active {
    transition: 0.3s;
    transform: translateX(-1px);
    display: block;
}

.question figure img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
}

.question figure figcaption {
    font-style: italic;
    font-size: small;
    text-align: center;
}

.btn-primary,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:focus-visible {
    background-color: var(--misty-moss);
    border: 1px solid var(--misty-moss);
    box-shadow: none;
}

.btn-primary:hover {
    background-color: var(--moss-green);
    border: 1px solid var(--moss-green);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.toggle-questions {
    display: flex;
    justify-content: center;
}

#reset {
    display: none;
    margin: 20px 0 0 0;
}

#res-img {
    justify-content: center;
}

#res-img img {
    width: 100%;
}